.shadow__btn {
    border: none;
    color: #fff;
    border-radius: 7px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .shadow__btn {
    background: rgb(107, 32, 247);
    box-shadow: 0 0 25px rgb(110, 37, 245);
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px rgb(151, 105, 236),
                0 0 25px rgb(151, 105, 236),
                0 0 50px rgb(151, 105, 236),
                0 0 100px rgb(151, 105, 236);
  }